.service-card {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 210px; */
    transform: translate(0);
    border-radius: 3px;
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.service-card .poster {
    position: relative;
    overflow: hidden;
}
.service-col {
    padding: 10px;
}
.service-card .poster::before {
    content: '';
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.service-card:hover .poster::before {
    bottom: 0px;
}
.service-card .poster img {
    width: 100%;
    height: 205px;
     transition: 0.5s;
}
.service-card:hover .poster img {
    filter: blur(2px);
    transform: translateY(-50px);
}
.details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 80%;
    bottom: -90px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}
.service-card:hover .details {
    bottom: 30px;

}
.details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.details h2 span {
    font-size:  14px;
    color: #ff9800;
}
.rating {
    position: relative;
    padding: 1px 0;

}
.rating .fa {
    color: #f7f406;
    margin-right: 2px;
    font-size: 16px;

}
.rating span {
    color: #fff;
    padding: 0 5px;
}
.tags {
    position: relative;
    margin-top: 5px;
}
.tags span {
    padding: 2px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;

}
.tags span.fantasy {
    background: #7206f7;

}
.tags span.romance {
    background: #f70661;

}
.info {
    color: #fff;
}
.info p{
    margin: 0px 0 0px;
}
.star {
    position: relative;
}
.star h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f7f406;

}
.star ul {
    margin: 3px 0 0;
    padding: 0;
    display: flex;
}
.star ul li {
    list-style-type: none;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    border: 2px solid #fff;
}
.star ul li img {
    width: 100%;
    border-radius: 50%;
}
.star ul li img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
}
