.banner-section {
    background:linear-gradient(to right, transparent, mistyrose),  url(../../../images/banner.png);
    /* background-image: opacity(0.5); */
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}